.ToDoItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ToDoItem-Text {
    width: 90%;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px lightgrey;
    padding: 12px;
    margin-right: 10px;
}

.done {
    text-decoration:line-through; 
}

.important {
    color: rgb(92, 151, 247);
    text-decoration: underline;
    font-weight: bold;
}